.project-detail-container {
    display: flex;
    align-items: center;
    margin-top: 60px;
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 30px;
}

.project-detail-container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.project-detail-container {
    scrollbar-width: none;
}

.project-detail-container {
    -ms-overflow-style: none;
}
