.nav-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--sub-color);
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 30px;
    z-index: 2;
}
.logo-container {
    display: flex;
    height: 100%;
    width: 111.5px;
}
.logo-container .logo {
    height: 100%;
    width: 100%;
}

.content-container {
    padding: 30px 16px;
    margin-top: 60px;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
.content-header-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.content-nav {
    color: var(--sub-color);
    padding: 10px 30px;
    background-color: var(--border-color);
    font-size: 18px;
    font-weight: 600;
}

.content-nav:hover {
    background-color: var(--sub-color);
    color: white;
    cursor: pointer;
}

.content-nav.main {
    background-color: var(--main-color);
    color: white;
}

.content-nav.active {
    background-color: var(--sub-color);
    color: white;
}

.content-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 30px;
}

.footer-container {
    height: 60px;
    width: 100%;
    background-color: var(--sub-color);
    bottom: 0;
}
.user-option-container {
    display: flex;
    position: absolute;
    background-color: var(--border-color);
    width: 200px;
    z-index: 3;
    right: 30px;
    top: 70px;
    border-radius: 10px;
    font-size: 18px;
    color: var(--main-color);
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}
.user-option {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 0px 10px;
    box-sizing: border-box;
    height: 50px;
}

.user-option span {
    margin-left: 20px;
}

.user-option:hover {
    background-color: var(--sub-color);
    color: white;
    cursor: pointer;
}
